:root {
  --indigo: #1C2340;
  --gold: #E89B2E;
  --bg: #F5F6F3;
  --white: #FFFFFF;
  --text: #3C4358;
  --line: #D7DAE3;
}
.footer {
  background: var(--white);
  color: var(--indigo);
  padding: 60px 8% 30px;
}
.footer-container {
  max-width: 1300px;
  margin: auto;
}
.footer-logo {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--indigo);
}
.footer-tag {
  font-size: 0.85rem;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.footer-desc {
  max-width: 850px;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 40px;
}
.footer-tag,
.footer-desc,
.countries {
  color: var(--text);
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.footer-column h3 {
  font-size: 1.6rem;
  margin-bottom: 18px;
  color: var(--indigo);
}
.footer a {
  text-decoration: none;
}
.footer-column a {
  display: block;
  color: var(--indigo);
  margin-bottom: 12px;
  transition: 0.3s;
}
.footer-column a:hover {
  color: var(--gold);
  transform: translateX(5px);
}
.social-title {
  margin-top: 35px;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons a {
  width: 45px;
  height: 45px;
  border: 2px solid var(--indigo);
  color: var(--indigo);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.social-icons a:hover {
  background: var(--gold);
  border-color: var(--gold);
  color: var(--white);
  transform: translateY(-5px);
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
  border-top: 1px solid var(--line);
  padding-top: 25px;
}
.footer-policy {
  display: flex;
  gap: 30px;
  margin: 15px 0;
}
.footer-policy a {
  color:  var(--indigo);
}
.footer-policy a:hover {
  color:var(--gold);
}
@media(max-width: 900px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 600px) {
  .footer {
    padding: 50px 25px;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .footer-logo {
    font-size: 2rem;
  }
  .footer-desc {
    font-size: 1rem;
  }
  .footer-policy {
    flex-direction: column;
    gap: 10px;
  }
}