.cta{
    background:#0A3B5E;
    padding:104px 48px;
}

.cta-container{
    max-width:1312px;
    margin:auto;
    text-align:center;
}

.cta h2{
    color:#fff;
    font-size:50px;
    max-width:760px;
    margin:auto;
}

.cta p{
    margin:22px auto;
    max-width:540px;
    color:#B7CCDC;
    line-height:1.6;
}

.cta-buttons{
    display:flex;
    justify-content:center;
    gap:16px;
    margin-top:36px;
}

.cta-buttons button{
    padding:17px 36px;
    border:none;
    border-radius:8px;
    font-weight:700;
    cursor:pointer;
}

.outline{
    background:transparent;
    color:#fff;
    border:1px solid rgba(255,255,255,.3) !important;
}