*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Manrope',sans-serif;
}

a{
    text-decoration:none;
}

.header{

    position:sticky;

    top:0;

    width:100%;

    z-index:999;

    background:#fff;

    border-bottom:1px solid #E2E9EF;

}

.navbar{

    max-width:1312px;

    margin:auto;

    padding:0 48px;

    height:82px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo img{

    height:38px;

    display:block;

}

.nav-links{

    display:flex;

    align-items:center;

    gap:30px;

}

.nav-links a{

    color:#0A3B5E;

    font-size:15px;

    font-weight:600;

    transition:.3s;

}

.nav-links a:hover{

    color:#1175B5;

}

.demo-btn{

    background:#1175B5;

    color:#fff !important;

    padding:11px 22px;

    border-radius:7px;

    font-weight:700;

}

.demo-btn:hover{

    background:#0A3B5E;

}