*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
}

body{
  font-family:"Manrope", sans-serif;
  overflow-x:hidden;
  background:#fff;
}

a{
  text-decoration:none;
}

img{
  display:block;
  max-width:100%;
}

.scroll-animation{
    opacity:0;
    transform:translateY(35px);
    transition:opacity .7s ease, transform .7s ease;
}

.scroll-animation.show{
    opacity:1;
    transform:translateY(0);
}